<div class ="min-w-full">
  <%= turbo_stream_from :posts %>

  <%= turbo_frame_tag :post_form, class: "block" do %>
    <%= render 'posts/form', post: @post %>
  <% end %>

  <%= turbo_frame_tag :posts, class: "block" do %>
    <%= render @posts %>
  <% end %>

</div>
